<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>ShowGoods</servlet-name>
    <servlet-class>net.vicp.zyl_me.control.ShowGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDetailServlet</servlet-name>
    <servlet-class>net.vicp.zyl_me.control.ShowDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetIndexGoodsServlet</servlet-name>
    <servlet-class>net.vicp.zyl_me.control.GetIndexGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>net.vicp.zyl_me.control.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>net.vicp.zyl_me.control.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>net.vicp.zyl_me.control.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FeedBackServlet</servlet-name>
    <servlet-class>net.vicp.zyl_me.control.FeedBackServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>ShowGoods</servlet-name>
    <url-pattern>/ShowGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDetailServlet</servlet-name>
    <url-pattern>/ShowDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetIndexGoodsServlet</servlet-name>
    <url-pattern>/GetIndexGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedBackServlet</servlet-name>
    <url-pattern>/FeedBackServlet</url-pattern>
  </servlet-mapping>

</web-app>